
	<form (submit)="login()">
<!-- 			<svg class="Rectangle_2121">
		<rect id="Rectangle_2121" rx="0" ry="0" x="0" y="0" width="414.32" height="736">
		</rect>
	</svg> -->
	<div id="Registered_Userr">
		<input type="text" name="username" placeholder="Username" [(ngModel)]="user.username">
	</div>
	<div id="Registered_User">
		<span>Registered User</span>
	</div>
	<div id="Group_2107">
		<svg class="Rectangle_573">
			<linearGradient spreadMethod="pad" id="LinearGradientFill1" x1="0.7805118560791016" x2="0.06727450340986252" y1="-0.514154851436615" y2="2.0838282108306885">
				<stop offset="0" stop-color="#f2b2af" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#b68ce1" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Rectangle_573" rx="31.68792724609375" ry="31.68792724609375" x="0" y="0" width="155.991" height="63.376">
			</rect>
		</svg>
		
			<input type="submit" value="LOGIN" id="GO" >
		
	</div>
</form>
