
#Rectangle_2121 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
/*.Rectangle_2121 {
	overflow: visible;
	width: 414.32px;
	height: 736px;
	left: 0px;
	top: 0px;
}*/
#Registered_User {
	opacity: 1;
	left: 99px;
	top: 468px;
	position: absolute;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(82,82,82,1);
}
#Group_2107 {
	opacity: 1;
	width: 155.991px;
	height: 63.376px;
	left: 123px;
	top: 616.908px;
	overflow: visible;
}
#Rectangle_573 {
	opacity: 1;
	fill: url(#LinearGradientFill1);
}
.Rectangle_573 {
	overflow: visible;
/*	width: 155.991px;
	height: 63.376px;*/
	left: 120px;
	top: 625px;
	position: absolute;
}
#GO {
	opacity: 1;
	text-decoration: none;
	border: none;
	display: inline-block;
	-webkit-appearance: none;
	position: absolute;
	left: 155px;
	top: 645px;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 84px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Registered_Userr input[type=text]{
	border-radius: 50px;
	width: 100%;
    padding: 20px 22px;
    border: none;
    margin-top: 125px;
    background-color: rgba(247,247,245,1);
    box-sizing: border-box; 
    width: 340px;
    margin-left: 35px;
	text-align: center;
	z-index: 100;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	white-space: nowrap;
}