form {
  label {
    display: block;
  }
}

app-driver-login-first {
	display: block;
	height: 55vh;
	overflow: hidden;
}
app-driver-login-start{
	display: block;
	height: 40vh;
	overflow: hidden;
	width: 100%;
}
